.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: rgb(255,255,255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    border: none;
    background-color: transparent;
}

.modal .form-title-container button:active {
    color: rgb(255,50,50);
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-size: 13px;
}

.modal button {
    margin-top: 30px;
    font-size: 15px;
    padding: 10px;
}

.modal select {
    font-size: 15px;
    padding: 10px;
}

.modal * {
    margin: 0px;
}

input {
    margin: 11px 0;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid rgb(230,232,236);
    font-size: 15px;
    width: 500px;
}
